
.uio01 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2a/Quito_noche_desde_el_pichincha_teleferico_002.jpg");
  opacity: 0.8;
}

.btn-uio01 {
  color: white;
  background-color: red;
  border-color: red;
}


.btn-uio02 {
  color: white;
  background-color: black;
  border-color: black;
}


.btn-uio3 {
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.2rem 0.2rem;
  font-size: 0.6 rem;
  line-height: 1.2;
  border-radius: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
